In [14]:
import pandas as pd

def delete_columns(df, col=[]):
    """
    Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. 
    Если одного из указанных столбцов в таблице не существует, то функция должна возвращать None.
    """
    for i in col:
        if i not in df.columns:
            return
    return df.drop(col, axis=1)


if __name__ == '__main__':
    customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })
    
    columns_for_delete= ['number', 'cust_age'] #выбранные вами столбцы
    new_df = delete_columns(customer_df, columns_for_delete)
    print(new_df)

   cust_id  cust_sale  cust_year_birth  cust_order
0      128       0.00             2008        1400
1     1201       0.00             2000       14142
2     9832       0.20             2002         900
3     4392       0.15             2000        1240
4     7472       0.30             1961        8430

In [17]:
"""
Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).
Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до сотых.
"""
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df['pop_density'] = countries_df['population']*1000000/countries_df['square']
round(countries_df['pop_density'].mean(), 2)

84.93

In [18]:
report_ufo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
report_ufo

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [23]:
# В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?
report_ufo['Time'] = pd.to_datetime(report_ufo['Time'], dayfirst=True)
report_ufo['Time'].dt.year.mode()

0    1999
Name: Time, dtype: int64

In [37]:
# Найдите средний интервал времени (в днях) между двумя последовательными
# случаями наблюдения НЛО в штате Невада (NV)
report_ufo['Date'] = report_ufo['Time'].dt.date
round(report_ufo[report_ufo['State'] == 'NV']['Date'].diff().dt.days.mean())

69

In [4]:
import pandas as pd
bike_data = pd.read_csv('data/citibike-tripdata.csv')
bike_df = bike_data.copy()
bike_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [12]:
display(bike_df.shape)
bike_df['start station id'].isna().sum()

(300000, 14)

169

In [18]:
display(bike_df['stoptime'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: stoptime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB

None

In [23]:
bike_df['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

In [25]:
round(bike_df['usertype'].value_counts(normalize=True), 2)

Subscriber    0.77
Customer      0.23
Name: usertype, dtype: float64

In [27]:
bike_df['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [28]:
bike_df.nunique()

starttime                  299836
stoptime                   299813
start station id              759
start station name            759
start station latitude        770
start station longitude       772
end station id                765
end station name              765
end station latitude          775
end station longitude         777
bikeid                      10004
usertype                        2
birth year                     91
gender                          3
dtype: int64

In [29]:
bike_df.describe()

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1979.364803,1.108647
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,11.920796,0.613398
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,1885.000000,0.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1969.000000,1.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1982.000000,1.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1989.000000,1.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2002.000000,2.000000

In [32]:
bike_df['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [34]:
bike_df = bike_df.drop(['start station id', 'end station id'], axis=1)
bike_df.shape

(300000, 12)

In [43]:
bike_df['age'] = 2018 - bike_df['birth year']
bike_df[bike_df['age'] > 60]['starttime'].count()

11837

In [44]:
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'], dayfirst=True)
bike_df['starttime']= pd.to_datetime(bike_df['starttime'], dayfirst=True)
bike_df['trip duration'] = bike_df['stoptime'] - bike_df['starttime']
bike_df['trip duration']

0        0 days 00:27:15.365000
1        0 days 00:02:12.200000
2        0 days 00:55:37.898000
3        0 days 00:07:16.837000
4        0 days 02:20:57.993000
                  ...
299995   0 days 00:07:23.648000
299996   0 days 00:11:33.138000
299997   0 days 00:05:12.997000
299998   0 days 00:56:00.092000
299999   0 days 00:03:45.051000
Name: trip duration, Length: 300000, dtype: timedelta64[ns]

In [59]:
k = bike_df['starttime'].dt.dayofweek
k

0         5
1         5
2         5
3         5
4         5
         ..
299995    2
299996    2
299997    2
299998    2
299999    2
Name: starttime, Length: 300000, dtype: int64

In [61]:
bike_df['weekend'] = k.apply(lambda x: 1 if 4 < x < 7 else 0)
bike_df['weekend'].value_counts()

0    184865
1    115135
Name: weekend, dtype: int64

In [70]:
hours = bike_df['starttime'].dt.hour
bike_df['time_of_day'] = hours.apply(lambda x: 'night'\
    if 0 <= x <= 6 else ('morning' if 6 < x <= 12 else (\
    'day' if 12 < x <=18 else 'evening')))
round(bike_df[bike_df['time_of_day'] == 'day'].count()[0]/bike_df[bike_df['time_of_day'] == 'night'].count()[0])

9